.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #b6f2ee;
  padding: 10px;
  height: 1024px;
  position: relative;
}
.budt-748 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 30px;
}
.text-on-path {
  background: #000000;
  border-radius: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 1063px;
  top: -98px;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 949px;
  top: 14px;
}
.frame-32 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 148px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  width: 192px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  width: 192px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: center;
  justify-content: flex-start;
  width: 1252px;
  position: absolute;
  left: 80px;
  top: 287px;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.budt-748-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-fall-2026 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.budt-748-information-systems-projects {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 1px;
  top: 175px;
  width: 1252px;
  height: 101px;
}
.text-on-path {
  display: none;
}