.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #b6f2ee;
  padding: 10px;
  height: 1024px;
  position: relative;
}
.budt-748 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 30px;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 949px;
  top: 23px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 148px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  width: 192px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  width: 192px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: center;
  justify-content: flex-start;
  width: 1252px;
  position: absolute;
  left: 97px;
  top: 372px;
}
.let-s-create-a-website-design {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 101px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.rectangle-1 {
  background: linear-gradient(to left, #6155f5, #6155f5),
    linear-gradient(to left, #0088ff, #0088ff);
  border-radius: 10px;
  flex-shrink: 0;
  width: 180px;
  height: 57px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
